<p id="notice"><%= notice %></p>

<p class="lead">
  <strong>Title:</strong>
  <%= @registered_application.title %>
</p>

<p class="lead">
  <strong>Url:</strong>
  <%= link_to @registered_application.url, "http://#{@registered_application.url}" %>
</p>

<p class="lead">
  <strong>User:</strong>
  <%= @registered_application.user.email %><br>
</p>

<p class="lead">
  <strong>Events:</strong><br>
  <% @event_count.each do |event, number| %>
    <%= event %>: <%= number %><br>
  <% end %>
</p>


<%= link_to 'Edit', edit_registered_application_path(@registered_application) %> |
<%= link_to 'Back', registered_applications_path %>
