<p id="notice"><%= notice %></p>

<h1>Registered Application</h1>

<p class="lead">
  <strong>App Title:</strong>
  <%= @registered_application.title %>
</p>

<p class="lead">
  <strong>Url:</strong>
  <%= link_to @registered_application.url, "http://#{@registered_application.url}" %>
</p>

<p class="lead">
  <strong>User:</strong>
  <%= @registered_application.user.email %><br>
</p>

<p class="lead">
  <strong>Events Log:</strong><br>
</p>
<div class="table-responsive col-md-4">
  <table class="table table-striped">
    <tr>
      <th>Event</th>
      <th>Number</th>
    </tr>
    <tr>
    <% @event_count.each do |event, number| %>
      <td><%= event %></td>
      <td><%= number %></td>
    </tr>
    <% end %>
  </table>
<div>

<%= javascript_include_tag "//www.google.com/jsapi", "chartkick" %>
<%= pie_chart @event_count %>

<% if true %>
  <%= link_to 'Edit', edit_registered_application_path(@registered_application) %> |
<% end %>

<%= link_to 'Back', registered_applications_path %>
